.posts{
    margin-top: 1em;

    .post{
        margin-bottom: 1em;
        background: #fff;

        .content{
            height: 100px;
        }

        .image{           
            max-height: 220px;
        }
        @supports(object-fit: cover){
            .image{
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
        .mat-card-action{
            display: inline-block;
        }
        .mat-icon{
            color: #bdbab9;
        }

        .card-avatar {
            width: 40px;
            height: 40px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 16px;
        }
        .image-avatar {
          display: inline;
          margin: 0 auto;
          margin-left: -25%; //centers the image
          
        }   
        .tags a {
            text-decoration: underline;
            color: #ff5919;
        } 

        .date{
            position: absolute;
            right: 1em;
        }
        
        

    }
}


